<%@every.each do |p|%>
<div>
    #<%=p.id%>&nbsp;<%=p.title%>
<!--%=라고 쓰면 안 됨 그냥 %쓰고 바로 변수명 들어가야 한다-->
    <h3><%=p.content%></h3>
</div>
    <a href = "/destroy/<%=p.id%>">[삭제]</a>
    <!--삭제는 하지않고 해당하는 id값이 destroy로 가도록 일단 처리한다-->
<%end%>
<!--에브리의 p가져와서 거기의 title, content하나씩 뽑아온다-->
<!--every변수 출력만 해버리면 오류가 뜸...주소값만 뜸!-->
